@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Bitter', serif;
}

body.non-scrollable {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.landing-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.particles-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  text-align: center;
  color: #000;
  margin-top: -170px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  margin-right: 20px;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  color: #000;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-input {
  width: 400px;
  padding: 16px 24px;
  border: 1px solid #dfe1e5;
  border-radius: 24px 0 0 24px;
  box-shadow: none;
  outline: none;
  font-size: 18px;
  transition: box-shadow 0.3s ease-in-out;
  color: black;
}

.search-input:focus {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.search-button {
  padding: 16px 24px;
  border: 1px solid #dfe1e5;
  border-left: none;
  background-color: #f8f9fa;
  color: #000000;
  border-radius: 0 24px 24px 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 18px;
}

.search-button:hover {
  background-color: #6e9cd9;
}
